* {color: #E0E0E0 !important; font-family: 'Montserrat', sans-serif; font-size: 14px; font-style: normal; font-weight: 500}
.primary-content {border-right: 2px solid #E0E0E0 !important}
input, textarea {border: 1px solid #E0E0E0; border-radius: 0% !important}
button {width: 100% !important; background-color: #E0E0E0 !important; color: #333333 !important; font-weight: bold !important; border: none}
#email_error {color: red; display: none; font-size: x-small}
#box {width: 15%; padding: 3px}
h2 {color: #ffffff !important}

@media screen and (min-width:320px) and (max-width:600px) {
	.primary-content {border: none !important; margin: 5%}
	#content {text-align: left}
	footer {text-align: center}
	.primary-content {width: 50%}
	.secondary-content h5 {text-align: left !important; margin-top: 1%}
	h3 {text-align: center}
	#main {display: flex; flex-direction:column-reverse}

}





